rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Standard catch-all for debugging
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
